<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    설명. MApper XML 파일은...
        1. DAO 인터페이스와 동일한 패키지에 위치해야 한다.
        2. DAO 인터페이스와 풀네팀을 <mapper>의 namespace 값으로 설정해줘야 한다.
        3. 작성한 메서드의 이름과 id가 일치하고, 리턴타입이 일치하는 쿼리문을 모두 작성해야 한다.
-->
<mapper namespace="com.mybatis.project.MenuMapper">
    <resultMap id="menuResultMap" type="com.mybatis.project.MenuDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderable_Status"/>
    </resultMap>

    <select id="getAllMenus" parameterType="_int" resultMap="menuResultMap">
        SELECT
        a.menu_code,
        a.menu_name,
        a.menu_price,
        a.category_code,
        a.orderable_status
        from
        tbl_menu a
        where
        a.orderable_status = 'Y'
        order by
        a.menu_code
    </select>

    <select id="getMenuBy" resultMap="menuResultMap">
        SELECT
        a.menu_code,
        a.menu_name,
        a.menu_price,
        a.category_code,
        a.orderable_status
        from tbl_menu a
        where a.orderable_status = 'Y' AND
        a.menu_code = #{ code }
        order by
        a.menu_code
    </select>

    <insert id="registMenu" parameterType="com.mybatis.project.MenuDTO">
        INSERT INTO tbl_menu
        (
        menu_name, menu_price, category_code, orderable_status
        )
        VALUES
        (
        #{ name },
        #{ price },
        #{ categoryCode } ,
        'Y'
        )
    </insert>

    <update id="modifyMenu" parameterType="com.mybatis.project.MenuDTO">
        UPDATE tbl_menu
        SET
        menu_name = #{ name },
        menu_price = #{ price },
        category_code = #{ categoryCode }
        WHERE
        menu_code = #{ code }
    </update>

    <delete id="deleteMenu" parameterType="_int">
        DELETE from tbl_menu
        where menu_code = #{ code }
    </delete>
</mapper>